*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior:smooth;
}
a{
    text-decoration: none;
   
}

.container-header{
    background-attachment: fixed;
    background-image: url(../img/painel.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    height: 500px;
    color:white;
}

.header{
    display:block;
    text-align:right;
}

.container-header a{
    display:inline-block;
    text-decoration: none;
    margin-top:7px;
    margin-right:50px;
    color:white;
    font-size:22px;
}

.section h2{
    font-size: 40px;
    margin-top:120px;
    margin-left: 8%;
}

.section a{
    background-color: rgba(243, 150, 11, 0.856);
    border: 1px solid rgba(243, 150, 11, 0.856);
    color:white;
    border-radius: 8px;;
    padding:8px;
    position: relative;
    top:50px;
    left:15%;
}

.section a:hover{
    background-color: rgba(129, 78, 81, 0.856);
    border: 1px solid  rgba(129, 78, 81, 0.856);
    cursor: pointer;
}


.sobre {
    width: 100%;
}

.sobre > h3{
    text-align: left;
    padding:50px;
    font-size: 35px;
}
.img{
    display: inline-block; 
    max-width:400px;
}
.imagem img{
    max-width: 20%;
    min-width:100px;
    padding:2%;
    float:left;
}

.texto {
    display: inline-block;
    float: center; 
    margin-left:50px;
}
.atexto{
    color:black;

}

.texto p{
 
    font-size:20px;
    font-weight: bold;
    max-width:700px;
    text-align: justify;

}

.sobre h4{
    font-size:26px;
    margin:26px;
}


footer{
    overflow: hidden;
    width:100%;
    height:50px;
    background-color: rgb(32, 33, 116);
    text-align: center;

}
.img{
    display: inline-block;
    padding:13px;
}



@media (max-width: 1324px) {
    .sobre > h3{
        text-align: left;
        margin-bottom:-30px;

    }

    .imagem{
        display: none;

    }

    .texto{
        padding-bottom:20px;
    }

    .texto h4{
        padding-right:50px ;
        max-width:100%;
        text-align: center;
    }

    .texto p{
        padding-right:50px ;
        max-width:100%;
    }

 }

 @media (max-width: 980px) {
   
        .section h2{
            text-align:center;
        }
           
        .container-header a{
            margin-top:13px;
        }
 }
 @media (max-width: 580px) {
   
    .texto p{

        text-align: center;
    
    }
}